* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: antiquewhite;
    padding: 10%;
}

#screen {
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    background-color: burlywood;
}

.line {
    display: block;

    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline-block;

    width: 32%;
    height: 50px;

    border-radius: 5px;
    border-style: solid;

    margin: 2px;
}

.escondido {
    display: inline-block;
    width: 32%;
    visibility: hidden;
    margin: 2px;
}